* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #202124;
  text-decoration: none;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
}
.container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 48px;
  padding: 6px;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  margin-right: 32px;
  gap: 14px;
}
.btn {
  width: 70px;
  height: 30px;
  background-color: #4285f4;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.logo {
  height: 290px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.searchbar {
  height: 120px;
  width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px;
}
.bar {
  width: 480px;
  height: 40px;
  border: none;
  border-color: #b0b0b0;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.inputbar {
  display: flex;
}
.voice {
  position: absolute;
  margin-top: 5px;
  margin-left: 443px;
}
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.btn1 {
  height: 35px;
  width: 120px;
  background-color: #f2f2f2;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5f6368;
  text-align: center;
}
.btn2 {
  height: 35px;
  width: 210px;
  background-color: #f2f2f2;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5f6368;
  text-align: center;
}
section {
  height: 300px;
}
footer {
  margin: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #f2f2f2;
  justify-content: space-between;
  align-items: center;
}
footer a{
    color: #5f6368;
}
.group1{
    display: flex;
    margin: 25px;
    gap: 25px;
}

.group2{
    display: flex;
    margin: 25px;
    gap: 25px;
}
